:root {
    --primary-color: #036;
    --secondary-color: #808080;
    --text-color: #333;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 1em;
    min-width: 500px;
    margin-top: 1em;
}

/* Form Elements */

.form  > *  {
    margin-bottom: 1em;
}

.form-title {
    color: var(--primary-color);
    min-width: max-content;
    text-align: center;
    font-size: 1.5rem;
}

.form-input,
.form-label {
    color: var(--text-color);
    width: 100%;
    font-size: 1rem;
}

.form-input {
    border: 1px solid var(--secondary-color);
    padding: .5rem;
}

.form-error {
    box-shadow: 0 0 4px red;
}

.form-valid {
    box-shadow: 0 0 4px green;
}

/* Button */

.btn-primary {
    background: var(--primary-color);
    border: none;
}